
<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html>
<head>
<title>J&H</title>
<!-- For-Mobile-Apps -->
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Lucid Login Form Widget Responsive, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>

<!-- //For-Mobile-Apps -->
<!-- Style --> <link rel="stylesheet" href="static/css/jh.css" type="text/css" media="all" />
		<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">

</head>
<body>
<div class="container">
<h1>J&H Assosiate</h1>



	<div class="signin">
			<form id="contact-form" name="contactForm">
					
					<input type="text" class="user" name="name" id="usr_name" placeholder="Name">
					<input type="text" class="user" name="mob_number" id="usr_mobile" placeholder="Mobile Number">
					<input type="text" class="user" name="area" id="area" placeholder="Area/Location">
					<input type="text" class="user" name="business" id="usr_occupation" placeholder="Business/Occupation">

					<input type="text" class="user" name="code" id="usr_code" placeholder="Code Number">
		
					<input type="submit" value="Submit" />
		</form>
	</div>
</div>



<div class="footer">
		 <p>Copyright &copy; 2018 J&H Assosiate. All Rights Reserved </p>
</div>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
// Wait for the DOM to be ready
$(function() {
  // Initialize form validation on the registration form.
  // It has the name attribute "registration"
  $("form[name='contactForm']").validate({
    // Specify validation rules
    rules: {
      // The key name on the left side is the name attribute
      // of an input field. Validation rules are defined
      // on the right side
      name: "required",
      mob_number: "required",
      area: "required",
      business: "required",
      code: "required"
      
    },
    // Specify validation error messages
    messages: {
      name: "Please enter your name",
      mob_number: "Please enter a valid mobile number",
      area: "Please enter your location",
      business: "Please enter your occupation",
      code: "Please enter your code number",
    },
    // Make sure the form is submitted to the destination defined
    // in the "action" attribute of the form when valid
    submitHandler: function(form) {
      sendContact()
    }
  });
});
</script>
<script>
			// This example displays an address form, using the autocomplete feature
			// of the Google Places API to help users fill in the information.

			// This example requires the Places library. Include the libraries=places
			// parameter when you first load the API. For example:
			// <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

			var placeSearch, autocomplete;
			var componentForm = {
				street_number: 'short_name',
				route: 'long_name',
				locality: 'long_name',
				administrative_area_level_1: 'short_name',
				country: 'long_name',
				postal_code: 'short_name'
			};

			function initAutocomplete() {
				// Create the autocomplete object, restricting the search to geographical
				// location types.
				autocomplete = new google.maps.places.Autocomplete(
						/** @type {!HTMLInputElement} */(document.getElementById('area')),
						{types: ['geocode']});

				// When the user selects an address from the dropdown, populate the address
				// fields in the form.
				autocomplete.addListener('place_changed', fillInAddress);
			}

			function fillInAddress() {
				// Get the place details from the autocomplete object.
				var place = autocomplete.getPlace();

				
			}

			// Bias the autocomplete object to the user's geographical location,
			// as supplied by the browser's 'navigator.geolocation' object.
			function geolocate() {
				if (navigator.geolocation) {
					navigator.geolocation.getCurrentPosition(function(position) {
						var geolocation = {
							lat: position.coords.latitude,
							lng: position.coords.longitude
						};
						var circle = new google.maps.Circle({
							center: geolocation,
							radius: position.coords.accuracy
						});
						autocomplete.setBounds(circle.getBounds());
					});
				}
			}
			


		function sendContact() {
			var http = new XMLHttpRequest();
			var url = "/contact";

			var name = document.getElementById("usr_name").value;
			var business = document.getElementById("usr_occupation").value;
			var code = document.getElementById("usr_code").value;
			var area = document.getElementById("area").value;
			var mob_number = document.getElementById("usr_mobile").value;

			var form = document.getElementById("contact-form").addEventListener("click", function(event){
    
});
			var params = {
				"name":name,
				"mob_number":mob_number,
				"area":area,
				"business":business,
				"code":code
			}
			http.open("POST", url);

			//Send the proper header information along with the request
			http.setRequestHeader("Content-Type", "application/json;charset=UTF-8");

			http.onreadystatechange = function() {//Call a function when the state changes.
					if(http.readyState == 4 && http.status == 200) {
							data = JSON.parse(http.responseText);

							swal("Contacted", data.message, "success").catch(swal.noop).then(function(){
								window.location.reload();
							});

							// do swal here
					}
			}
			http.send(JSON.stringify(params));
		}


		</script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDF8Z6GqqJ_j3CtMyMcEFBNjhDlrJAN_MQ&libraries=places&callback=initAutocomplete"
				async defer></script>



</body>
<script type="text/javascript">

</script>
</html>